# Virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Model weights
*.pt
*.pth

# Datasets
datasets/

# Output folders
outputs/
logs/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db